.mt-4 {
  margin-top: 1.5rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}

.me-8 {
  margin-right: 7.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.ms-8 {
  margin-left: 7.5rem !important;
}

