@font-face {
	font-family: 'EuropeExt';
	src: url(../../assets/fonts/EuropeExt-f0c6ba6d17e9873205de56ca8fb203d0.woff2) format('woff2'),
	url(../../assets/fonts/EuropeExt-2c18ca79f63ab72dedc52c70a89c8f88.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}